
.index-banner{
  background-image: url(../images/bg_home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 92px);
  .row{
    height: calc(100vh - 92px);
  }
  h2{
    margin-bottom: 0;
  }
  .slogan{
    font-size: 48px;
  }
  .icon1{
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  
}

.gradient-2{
  background: linear-gradient(180deg,#09ACF5 35% , $primary 75%);
  background-clip: text;
  color: transparent;
}



.subtitle-line{
  width: 50px;
  height: 2px;
  background-color: $primary;
}

.feature{
  border: 2px solid transparent;
  .mask-1{
    background-color: $black;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.5;
  }
  &:hover{
    border: 2px solid $primary;
    border-radius: 12pt;
    background-color: $black;
    .mask-1{
      background-color: transparent;
      opacity: 1;
    }
    span{
      background: linear-gradient(180deg,#09ACF5 35% , $primary 75%);
      background-clip: text;
      color: transparent;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.course{
  border: 2px solid transparent;
  .course-img{
    width: 100px;
    height: 100px;
  }
  &:hover{
    border: 2px solid $primary;
  }
}

.btn-1 {
  background-image: linear-gradient(104deg, #09ACF5 0%, $primary 50%, #09ACF5 100%);
  background-size: 200% auto;
  transition: 0.5s;
  &:hover {
    background-position: right center;
  }
}


.info{
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &1{
    background-image: url(../images/info01.jpg);
  }
  &2{
    background-image: url(../images/info02.jpg);
  }
  &3{
    background-image: url(../images/info03.jpg);
  }
  &4{
    background-image: url(../images/info04.jpg);
  }
  span{
    &:hover{
      color: $primary;
    }
  }
}

.mask-2{
  background-color: rgba(0,0,0,0.5);
  .subtitle-line{
    background-color: $white;
  }
  &:hover{
    background-color: transparent;
    span{
      color: $primary;
    }
    .subtitle-line{
      background-color: $primary;
    }
  }
}


.article{
  .squareRounded{
    display: none;
    width: 28px;
    height: 28px;
    &-topLeft {
      border-top: 2px solid $primary;
      border-left: 2px solid $primary;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid $primary;
      border-left: 2px solid $primary;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid $primary;
      border-right: 2px solid $primary;
      border-bottom-right-radius: 10px;
    }
  }
  &:hover{
    .squareRounded{
      display: block;
    }
  }
}


.swipe-bg{
  height: calc(100vh);
  background-image: url(../images/bg_share.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
