
.index-banner{
  background-image: url(../images/bg_home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 92px);
  .row{
    height: calc(100vh - 92px);
  }
  h2{
    margin-bottom: 0;

  }
  .slogan{
    font-size: 48px;
  }
  .icon1{
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  
}

.gradient-2{
  background: linear-gradient(180deg,#09ACF5 35% , $primary 75%);
  background-clip: text;
  color: transparent;
}



.subtitle-line{
  width: 50px;
  height: 2px;
  background-color: $primary;
}

.feature{
  border: 2px solid transparent;
  .mask-1{
    background-color: $black;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.5;
  }
  &:hover{
    border: 2px solid $primary;
    border-radius: 12pt;
    background-color: $black;
    .mask-1{
      background-color: transparent;
      opacity: 1;
    }
    span{
      background: linear-gradient(180deg,#09ACF5 35% , $primary 75%);
      background-clip: text;
      color: transparent;
    }
  }
}

.code-swiper{
  .swiper {
  width: auto;
  height: auto;
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

}

.course{
  border: 2px solid transparent;
  .course-img{
    width: 100px;
    height: 100px;
  }
  &:hover{
    border: 2px solid $primary;
  }
}

.btn-1 {
  background-image: linear-gradient(104deg, #09ACF5 0%, $primary 50%, #09ACF5 100%);
  background-size: 200% auto;
  transition: 0.5s;
  &:hover {
    background-position: right center;
  }
}


.info{
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &1{
    background-image: url(../images/info01.jpg);
  }
  &2{
    background-image: url(../images/info02.jpg);
  }
  &3{
    background-image: url(../images/info03.jpg);
  }
  &4{
    background-image: url(../images/info04.jpg);
  }
  span{
    &:hover{
      color: $primary;
    }
  }
}

.mask-2{
  background-color: rgba(0,0,0,0.5);
  .subtitle-line{
    background-color: $white;
  }
  &:hover{
    background-color: transparent;
    span{
      color: $primary;
    }
    .subtitle-line{
      background-color: $primary;
    }
  }
}


.article{
  .squareRounded{
    display: none;
    width: 28px;
    height: 28px;
    &-topLeft {
      border-top: 2px solid $primary;
      border-left: 2px solid $primary;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid $primary;
      border-left: 2px solid $primary;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid $primary;
      border-right: 2px solid $primary;
      border-bottom-right-radius: 10px;
    }
  }
  &:hover{
    .squareRounded{
      display: block;
    }
  }
}


.review-bg{
  // height: calc(100vh);
  height: 800px;
  background-image: url(../images/bg_share.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.review-img{
  margin-bottom: 48px;
  // object-fit: cover;
  // width: 100%;
  // height: 100%;
}

// 不明白為什麼要加上absolube
.decor-frame{
  // position: absolute;
  &::after {
    content: "";
    display: block;
    border: 1px solid $white;
    border-radius: 24pt;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: -16px;
    top: 16px;
    // 沒有依照圖片的大小
  }
}
.rounded-review-content{
  border-top-left-radius: 24pt;
  border-top-right-radius: 24pt;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 24pt;
  margin-left: -48px;
  // 響應式該怎麼改？
}
.swiper{
  height: 100%;
  width: 100%;
}
.review-swiper{
  .review-student{
    width: 100px;
    height: 100px;
  }
  .swiper-buttons{
    position: absolute;
    bottom:0;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    content: '';
  }
  .swiper-pagination{

    width: auto;
  }
  .swiper-pagination-bullet{
    background-color: $primary;
    opacity: initial;
    &-active{
      width: 16px;
      border-radius: 25px;
    }
  }
}

