//   hide-text
@mixin hide-text {
	text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

// *{
//     outline: 1px solid #fff;
// }

body{
    font-size: 18px;
    color: #fff;
}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1344px;
}

.navbar{
    background-image: none;
}

.logo{
    width: 175px;
    height: 42px;
    // 為什麼圖片出不來？路徑需要以dist中的all.css去考量
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include hide-text;    
}

.nav-link{
    padding: 0;
}

.gradient-1{
    height: 2px;
    background-image: linear-gradient(to left, #09ACF5 50%, #62DB54 50%);
}

// 登入
.divider{
    border-bottom: 1px solid $custom1;
}
.fblogin{
    height: 24px;
    width: 24px;
    background-image: url(../images/icon_fb.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.googlelogin{
    height: 24px;
    width: 24px;
    background-image: url(../images/icon_google.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer{
    p{
        color: #909090;
        @include pad(){
            font-size: 12px;
        }
    }
}


// font-size
.fs48{
    font-size: 48px;
}
.fs50{
    font-size: 50px;
}
.fs104{
    font-size: 104px;
}


.p28{
padding: 28px;
}
.py128{
    padding-top: 128px;
    padding-bottom: 128px;
}

.py52{
    padding: 52px 0;
}
.py80{
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad(){
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.pb80{
    padding-bottom: 80px;
}
.-ms16{
    margin-left: -16px;
}
.-me16{
    margin-right: -16px;
}
.pe50
{
    padding-right: 50px;
}
.-mb24{
    margin-bottom: -24px;
}
.mb74{
    margin-bottom: 74px;
}
.my80{
    margin-top: 80px;
    margin-bottom: 80px;
}
.ms80{
    margin-left: 80px;
}


.rounded8{
    border-radius: 8pt;
}
.rounded12{
    border-radius: 12pt;
}
.rounded24{
    border-radius: 24pt;
}
